@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");

html, body {
  height: 100%;
}


body {
    font-family: "Ovo", serif;
}

@font-face {
    font-family: "AngelaWhite";
    src: url("/font/angela-white.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

